<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ErpGestaoConnectionString"
			 connectionString="Data Source=CAIXA\SQLEXPRESS;Initial Catalog=erpgestao;Integrated Security=True;TrustServerCertificate=True"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>
